$mainHome:#888919;
$mainSeminar:#970635;
$mainAnalytic:#366797;
$mainFind:#35650d;
$mainResources:#b2731f;
$mainBoxblue:#6089a2;
$mainBoxred:#cc3366;
$navDarkblue:#2c3e50;
$mainNav:#1b4269;
$bannerRed:#e13d37;
$wntextGrey:#535353;
$wnmidGrey:#7f7f7f;
$wnlightGrey:#b3b3b3;
$wnsubGrey:#808080;
$wnlinkBlue:#336699;